<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/st.css'%}">
    <title>Document</title>
</head>
<body>
   <h1>Courses</h1>
   
   <img src="{% static 'images/5936.jpg' %}" alt="djk" width="80%" height="80%" />
    
  <form action="">
    <input type="button" value="CLICK ME" onclick="dis()"/>
    </form>>
   <script src="{%static 'js/f.js'%}"></script>
    
</body>
</html>